body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f7ae5;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .tab {
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
  }
  
  .tab:hover {
    color: #0f7ae5;
    transform: scale(1.1); /* Effet d'agrandissement */
  }
  
  .content {
    display: none;
    padding: 20px;
  }
  
  /* Style pour l'onglet actif */
  .active-tab {
    color: #0f7ae5;
    transform: scale(1.1);
  }
  
  /* Style pour le contenu de l'onglet actif */
  .active-content {
    display: block;
  }


/* partie qui gère le comportement du toggle */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle-checkbox:checked + .toggle-switch {
  background: #ffa719;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

